@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar--wrapper {
    height: 10vh;
    background: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar--items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input--wrapper {
    display: flex;
    gap: 6px;
    width: 50vw;
    margin: 4rem auto;
}

.input--wrapper input {
    width: 80%;
    outline: none;
    padding: .5rem;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid #111;
}

.input--wrapper button {
    width: 20%;
    outline: none;
    background: rgb(52, 98, 206);
    border: none;
    color: #fff;
    font-weight: 800;
}

.tasklist--wrapper {
    width: 50%;
    margin: 0 auto;
}

.tasklist--wrapper > div {
    border-radius: 6px;
    border-left: 6px solid rgb(54, 107, 224);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: .5rem 0;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.task--item {
    display: flex;
    justify-content: space-between;
}